html{
    overflow-x: hidden !important;
    background-color: #000;
}
body{
    background-color: #fff;

}
#body{
    width:100%;
    display:flex;
    flex-direction:column;
    align-items: center;
}
.head-top{
    display: flex;
    flex-direction: row;
}
.head-bottom{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    text-align: center;
}
.skills-experience{
    margin:40px 0px;
    width:100%;
    background-color: black;
    color:white;
    padding:40px 0px;
    display: flex; 
    flex-direction:row;
    justify-content: center; 
}
.skills-experience-container{
    margin:auto;
    width:80%;

    display: flex;
    flex-direction: column;
    text-align: center;

}

.skills-experience-container h1{
    width:100%;
  
}
.list-skills-container{
    margin-top: 20px;;
    width:100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.list-skills-container i{
    font-size: 32px;
}

#html-icon{
    color: rgb(247, 164, 11);
}
#css-icon{
    color: rgb(0, 110, 253);
}
#js-icon{
    color: rgb(249, 253, 0);
}
#react-icon{
    color: rgb(2, 66, 240);
}
#node-icon{
    color: rgb(153, 255, 0);
}
.tools{
    margin:40px 0px;
    text-align:center;
    display:flex;
    flex-direction: column;
   
}
.tools .dev-ops{
   
    display: flex;
    flex-direction: row;
}
.dev-ops img{
    width:50px;
    height:50px;
    margin:20px;
    border-radius: 50%;
    border:2px solid rgb(153, 152, 152);
    padding:10px;
}
.dev-ops img:hover{
    transform:scale(1.5,1.5);
}
.dev-ops img#grunt:hover{
    border-color: orange;
}
.dev-ops img#karma:hover{
    border-color: rgb(7, 129, 7);
}
.dev-ops img#jasmine:hover{
    border-color: rgb(74, 9, 136);
}
.dev-ops img#mocha:hover{
    border-color: rgb(90, 77, 77);
}
.dev-ops img#chai:hover{
    border-color: rgb(221, 167, 66);
}
.dev-ops img#webpack:hover{
    border-color: #0ed4f8;
}
.dev-ops img#webrtc:hover{
    border-top-color: red;
    border-bottom-color: blue;
    border-right-color: green;
    border-left-color: yellow;



}
.dev-ops img#socketio:hover{
    border-color: rgb(74, 9, 136);
}
.dev-ops img#redis:hover{
    border-color: red;
}
.dev-ops img#docker:hover{
    border-color: #2dcece;
}





@media(max-width:700px){
    .skills-experience{
        margin:20px 0px;
    }
    .tools{
        margin:20px 0px;
    }
    .dev-ops img{
        width:35px;
        height:35px;
    }
    .skills-experience-container h1{
        font-size:20px;
        font-weight:800;
    }
    
}
.head-top .social{
    display: flex;
    flex-direction: row;
}
@media(max-width:500px){
    .list-skills-container{
        display:flex;
        flex-direction:row;
    }
    .primary-skills,.major-skills{
        width:100%;
    }
    .head-top {
        display: flex;
        flex-direction: column;
    }
    .head-bottom{
        display: flex;
        flex-direction: column;
        overflow-wrap: break-word;
    }
    .head-top .social{
       margin-top:20px ;
       width: 100%;
       display: flex;
       flex-direction: row;
       justify-content: space-between;
    }
    
    .tools .dev-ops{
   
        display: flex;
        flex-direction: row;
    }
    .dev-ops img{
        width:25px;
        height:25px;
        margin:5px;
        border-radius: 50%;
        border:1px solid rgb(153, 152, 152);
        padding:2.5px;
    }
    #footer  i{
        font-size: 25px !important;
    }

}
.caption{
    font-size: 12px;
    margin: 5px;
}
.company-head{
    display: flex;
    flex-direction: row;
}