#footer{
    width:100%;
    text-align: center;
    margin-top:40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
#footer div{
    margin-top:20px;
}
#footer .social{
    width:100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
#footer .social i{
    font-size:30px;
    margin:0px 10px;
    padding:10px;
    border-radius: 50%;
    border:2px solid  rgb(153, 152, 152)
}
#footer .social i.fa-share-alt{
    color:orange;
    border-color: orange;
}
#footer .social i.fa-stack-overflow{
    border-color:rgb(253, 136, 3);
    color:orange; 
}
#footer .social i.fa-medium{
    border-color: rgb(7, 129, 7);
    color: rgb(7, 129, 7);
}
.hidden{
    display:none;
}
.visible {
        display:inline;
}
#footer .social .notify{
    text-align: center;
   
}
a.project-link{
  
    animation-name: flash;
    animation-duration: 1s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
}
@keyframes flash{
    0%{color:rgb(7, 129, 7);}
    50%{color:blueviolet;}
    100% {color:orange}    
}